.DV_profilePhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 540px;
    width: 100%;
    height: auto;
}

.DV_profile_img {
    max-height: 540px;
    max-width: 360px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #E5E5E5;
}

.DV_name {
    font-size: 30px;
}

.DV_biography {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.DV_birthday {
    font-size: 24px;
}

@media (max-width: 699px){
    .DV_biography {
        text-align: justify;
    }
}
