/* 'DV' prefix is shortcut of 'detailed view' */
.DV_DETAILS {
    max-width: 1560px;
    width: 100%;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.DV_mainDiv {
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.DV_poster {
    width: 420px;
    height: 630px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px #000, -5px -5px 10px #000, -5px 5px 10px #000, 5px -5px 10px #000;
    position: relative;
}

.DV_backdrop {
    display: block;
    width: 1120px;
    height: 630px;
    border-radius: 10px;
    filter: brightness(0.9);
    box-shadow: 5px 5px 10px #000, -5px -5px 10px #000, -5px 5px 10px #000, 5px -5px 10px #000;
    position: relative;
    background-size: 100% 100%;
    cursor: pointer;
}

.DV_backdrop_img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    filter: brightness(0.9);
}

.DV_mainText {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.DV_genre {
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.DV_genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.DV_title {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DV_tagline {
    margin-top: -15px;
    margin-bottom: 20px;
}

.DV_voteContainer {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 10px;
}

.DV_voteContainer img {
    margin-right: 5px;
}

.DV_voteContainer_tv {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DV_voteContainer_tv img {
    margin-right: 5px;
}

.DV_secondDiv {
    width: 100% - 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}

.DV_description {
    width: 50%;
    text-align: right;
    padding-right: 30px;
    word-wrap: break-word;
}

.DV_moreInfo {
    width: 50%;
    text-align: left;
    padding-left: 30px;
}

.DV_moreInfo_title {
    padding-right: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5em;
}

.DV_moreInfo a {
    color: #FCA311;
    word-wrap: break-word;
    overflow:hidden
}

.DV_moreInfo l {
    word-wrap: break-word;
}

.DV_moreInfo_row:hover {
    text-decoration: underline;
}

.DV_productionCountries {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.DV_production_country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 130px;
    min-height: 69px;
}

.DV_production_countries_title {
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: #FCA311;
}

.swiper-pagination {
    position: relative;
    top: 0px;
}

@media (max-width: 1640px) and (min-width: 700px){
    .DV_poster {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 25%;
        height: auto;
        z-index: 2;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        margin-right: 0px;
        box-shadow: none;
    }

    .DV_backdrop {
        display: block;
        max-width:1550px;
        max-height:872px;
        width: 100%;
        height: auto;
        filter: brightness(0.8);
        z-index: 1;
    }

    .DV_backdrop_img {
        filter: brightness(0.8);
    }

    .DV_DETAILS{
        height: auto;
        width: 95%;
    }

    .DV_mainDiv {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 699px){

    .DV_DETAILS {
        margin-top: 40px;
    }

    .DV_mainDiv {
        justify-content: center;
        max-height: 630px;
        height: auto;
        width: calc(100% - 40px);
        padding: 0px 20px 0px 20px;
    }

    .DV_poster {
        justify-content: center;
        max-height: 630px;
        max-width: 420px;
        height: auto;
        width: 100%;
        display: block;
        margin-right: 0px;
        box-shadow: 5px 5px 20px #000, -5px -5px 20px #000, -5px 5px 20px #000, 5px -5px 20px #000;
    }

    .DV_backdrop {
        display: none;
    }

    .DV_secondDiv {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
    }

    .DV_description {
        text-align: justify;
        width: 100%;
        padding: 10px;
        margin-bottom: 40px;
    }

    .DV_description b {
        margin-left: calc(50% - 42.35px);
        margin-right: calc(50% - 42.35px);
    }

    .DV_moreInfo {
        width: 100%;
        padding: 10px;
    }

    .DV_moreInfo_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

}
